{% extends './base.html' %}
{%block title%} Contact {%endblock%}
{%block body%}
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Data analyst</div>
    <div class="card-body">
      <p class="card-text" style="text-justify: distribute;">Como data analyst realice dashboards para el correcto una correcta toma de decisiones en los proyectos y en la empresa, ademass de un analisis profundo de los datos para que se realice de la mejor manera el analisis de los datos </p>
    </div>
</div>
{%endblock%}