{% extends './base.html' %}
{%block title%} Data analyst {%endblock%}
{%block body%}
<div class="main-container">
  
    <div class="full-width image-container" style="background-color:transparent; margin-right: 0%; margin-bottom: 20px;">
      <h4 style="text-align: center; color: white;">Hola, yo soy José Arturo Olivares Gallegos</h4>
    </div>
  
    <div class="card-container-right">
      <div class="card custom-card mb-3" style="max-width: 18rem; opacity: 0.7; background-color: rgb(150, 30, 29);">
        <div class="card-header" style="text-align: center;">Project manager</div>
        <div class="card-body">
          <p class="card-text" style="text-align:justify;">Como project manager, realicé varios proyectos para la empresa que ayudaron a estandarizar varios procesos, como el proceso de picking, recepción de mercancía, rastreabilidad de choferes, ubicaciones en el almacén y la creación de un kiosko en una empresa de abarrotes al mayoreo.</p>
        </div>
      </div>
    </div>
  </div>
{%endblock%}