{% extends 'base.html' %}
{%block title%} Home {%endblock%}
{%block body%}
<div class="card custom-card mb-3" style="max-width: 18rem; opacity: 0.7; background-color: rgb(150, 30, 29);">
    <div class="card-header" style="text-align: center;">Data analyst</div>
    <div class="card-body">
      <p class="card-text" style="text-align:justify ; ">Como data analyst realice dashboards para el correcto una correcta toma de decisiones en los proyectos y en la empresa, ademass de un analisis profundo de los datos para que se realice de la mejor manera el analisis de los datos </p>
    </div>
</div>1
<div class="card custom-card mb-3" style="max-width: 18rem; opacity: 0.7; background-color: rgb(150, 30, 29);">
    <div class="card-header" style="text-align: center;">Project manager</div>
    <div class="card-body">
      <p class="card-text" style="text-align:justify ; ">Como project manager realice varios proyectos para la empresa esto ayudo a estandarizar varios procesos como lo son el proceso de picking, recepcion de mercancia, rastreabilidad de los choferes, ubicaciones en el almacen y la elaboracion de un kiosko en una empresa de abarrotes al mayoreo </p>
    </div>
</div>
{%endblock%}